{% extends "layout.html" %}
{% block body %}


    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              {% for owner in owners %}
                <li class="nav-header"> {{ owner.first_name }} {{ owner.last_name }}</li>
                {% for value in dogs[owner.id] %}
                {% if dog.id==value.id and dogowner.id==owner.id %}
                <li class="active"><a href="{{ url_for ('dog_info', owner_id=owner.id, dog_id=value.id) }}"> {{value.dog_name}} </a></li>
                {% else %}
                <li class="deactive"><a href="{{ url_for ('dog_info', owner_id=owner.id, dog_id=value.id) }}"> {{value.dog_name}} </a></li>
               {% endif %} 
               {% endfor %}
               {% endfor %}
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <div class="hero-unit">
            <h1>log your Dog, {{dog.dog_name}} </h1>

          </div>


    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.js"></script>
   
{% endblock %}
