{% extends "loggedin_layout.html" %}
{% block body %}

<form class="form-horizontal" action='{{url_for ("save_user")}}'>
  <div class="control-group">
    <label class="control-label" for="input_First_Name">First Name</label>
    <div class="controls">
      <input type="text" name="input_first_name" value="{{owners[0].first_name}}">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="input_last_name">Last Name</label>
    <div class="controls">
      <input type="text" name="input_last_name" value="{{owners[0].last_name}}">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="input_phone">Phone Number</label>
    <div class="controls">
      <input type="tel" name="input_phone" value="(xxx)xxx-xxxx">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="input_email">E-mail Address</label>
    <div class="controls">
      <input type="text" name="input_email" placeholder="dogowners.email@address.com">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="input_password">Password</label>
    <div class="controls">
      <input type="password" name="input_password" placeholder="Password">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="input_emergency_contact">Emergency Contact</label>
    <div class="controls">
      <input type="text" name="input_emergency_contact" placeholder="Friend/Family Name">
    </div>
  </div>

  
  <div class="control-group">
    <label class="control-label" for="input_contact_phone">Contact Phone Number</label>
    <div class="controls">
      <input type="text" name="input_contact_phone" placeholder="(xxx)xxx-xxxx">
    </div>
  </div>
  <br>
  <div>  
    <p>Now introduce your pup to us...</p>
  </div>
  <br>
  <div class="control-group">
    <label class="control-label" for="input_dog_name">Dog Name</label>
    <div class="controls">
      <input type="text" id="input_dog_name" placeholder="Pup's Name">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="input_sex">Dog Sex</label>
    <div class="controls">
      <input type="text" id="input_sex" placeholder="He or She?">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="input_breed">Dog Breed</label>
    <div class="controls">
      <input type="text" id="input_breed" placeholder="What kind of dog is Molly/Xena?">
    </div>
  </div>

 <div class="control-group">
    <label class="control-label" for="input_vet_name">Veterinarian</label>
    <div class="controls">
      <input type="text" id="input_vet_name" placeholder="Vet's name/animal hospital">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="input_vet_phone">Vet Phone</label>
    <div class="controls">
      <input type="text" id="input_vet_phone" placeholder="Vet Phone (xxx)xxx-xxxx">
    </div>
  </div>


  <div class="control-group">
    <label class="control-label" for="input_needs">Dog Needs</label>
    <div class="controls">
      <textarea rows="5"><placeholder="Enter dog's feeding needs/water/medication requirements."></textarea>
    </div>
  </div>

  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="button" class="btn">Cancel</button>
  </div>
</form>

{% endblock %}
