{% extends "layout.html" %}
{% block body %}

<!DOCTYPE html>

<p>Welcome to Dog Log!</p>
<br>
<p>Register yourself and your pup to get loggin'.</p>
<br>
<p>Tell us about yourself...</p>
<br>
<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="input_First_Name">First Name</label>
    <div class="controls">
      <input type="text" id="input_first_name" placeholder="First Name">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="input_last_name">Last Name</label>
    <div class="controls">
      <input type="text" id="input_last_name" placeholder="Last Name">
    </div>
    </div>

    <div class="control-group">
    <label class="control-label" for="input_phone">Phone Number</label>
    <div class="controls">
      <input type="tel" id="input_phone" placeholder="(xxx)xxx-xxxx">
    </div>
    </div>

      <div class="control-group">
    <label class="control-label" for="input_email">E-mail Address</label>
    <div class="controls">
      <input type="text" id="input_email_address" placeholder="your.email@address.com">
    </div>
    </div>

     <div class="control-group">
    <label class="control-label" for="input_password">Password</label>
    <div class="controls">
    <input type="password" id="input_password" placeholder="Password">
    </div>
    </div>

     <div class="control-group">
    <label class="control-label" for="input_emergency_contact">Emergency Contact</label>
    <div class="controls">
      <input type="text" id="input_emergency_contact" placeholder="Friend/Family Name">
    </div>
    </div>

  
  <div class="control-group">
    <label class="control-label" for="input_contact_phone">Contact Phone Number</label>
    <div class="controls">
      <input type="text" id="input_contact_phone" placeholder="(xxx)xxx-xxxx">
    </div>
  </div>
  <br>
<p>Now introduce your pup to us...</p>
<br>
<div class="control-group">
    <label class="control-label" for="input_dog_name">Dog Name</label>
    <div class="controls">
    <input type="text" id="input_dog_name" placeholder="What You Call Your Dog">
    </div>
    </div>

   <div class="control-group">
    <label class="control-label" for="input_sex">Dog Sex</label>
    <div class="controls">
    <input type="text" id="input_sex" placeholder="He or She?">
    </div>
    </div>

     <div class="control-group">
    <label class="control-label" for="input_dog_breed">Dog Breed</label>
    <div class="controls">
    <input type="text" id="input_dog_breed" placeholder="What kind of dog is Molly/Xena?">
    </div>
    </div>

<div class="control-group">
    <label class="control-label" for="input_needs">Dog Needs</label>
    <div class="controls">
    <textarea rows="5"><placeholder="Does your dog need feeding? Water freshened? Medication?"></textarea>
    </div>
    </div>
</form>

<div class="form-actions">
  <button type="submit" class="btn btn-primary">Save Changes</button>
  <button type="button" class="btn">Cancel</button>
</div>


{% endblock %}