{% extends "loggedin_layout.html" %}
{% block body %}

        <div class="jumbotron">
          <h3> There are no logs!</h3>
          
          <h2>To generate logs, download our Android dogwalking/mapping app.</h2>
<a href="#" class="btn btn-large btn-primary ">Get the DogLog App</a>
        </div>
    
      <footer>
        <p>&copy; doglog 2012</p>
      </footer>
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.js"></script>
   
{% endblock %}
