{% extends "loggedin_layout.html" %}
{% block body %}
        <div class="jumbotron">
          <h3> There are no logs! <img src="/static/img/dog_sad.gif"></h3>       
          <h2>To generate logs, download our Android dogwalking/mapping app.</h2>
          <img src="/static/img/doglog-logo.png">

          <a href="#" class="btn btn-large btn-primary ">Get the DogLog App</a>
        </div> 
      <footer>
      </footer>
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.js"></script>
   
{% endblock %}
