<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>AppSlide App Site Template</title>

	<!-- Get CSS -->
    <link href="static/css/style.css" rel="stylesheet" type="text/css" />
    <link href="static/css/slimbox2.css" rel="stylesheet" type="text/css" />
     <!--[if IE]>
    <link href="css/ie.css" rel="stylesheet" type="text/css" />
    <![endif]-->
    
    <!-- Get JS -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script type="text/javascript" src="static/js/jquery.cycle.lite.min.js"></script>
    <script type="text/javascript" src="static/js/custom.js"></script>
    
</head>
<body>

	<!-- start header -->
	<div id="header">
    
    
    	<!-- start pos. container -->
    	<div class="container rel">
        
        
            <!-- Start iPhone Mockup -->
			<div id="iphone">
            
            
            	<!-- start slideshow iamges -->
				<ul id="slides">
					<li><img src="static/img/screens/feedly.png" alt="Account screen" border="0" /></li>
					<li><img src="static/img/screens/skype.png" alt="Account screen" border="0" /></li>
					<li><img src="static/img/screens/foursquare.png" alt="Account screen" border="0" /></li>
					<li><img src="static/img/screens/appzap.jpg" alt="Account screen" border="0" /></li>
					<li><img src="static/img/screens/vimeo.png" alt="Account screen" border="0" /></li>
					<li><img src="static/img/screens/ps.png" alt="Account screen" border="0" /></li>
				</ul><!-- end slides -->
                
                
                <!-- home button link -->
                <a href="#" id="homebutton" title="Download AppShow Now!">Click Me</a>
                
                
                <!-- start footer -->
                <div id="footer">
                
                	<p>Copyright AppName © 2011<br /><a href="#">Applet</a> template Crafted by <a href="http://tyler.tc/" title="Tyler.TC Creative Engineering">Tyler Colwell.</a></p>
                    
                	<br /><a class="social facebook" href="#">Facebook</a>
                    <br /><br /><a class="social twitter" href="#">Twitter</a>
                    <br /><br /><a class="social googleplus" href="#">Google+</a>
                    <br /><br /><a class="social feed" href="#">Our Blog</a>
                    <br /><br /><a class="social email" href="#">Contact Us</a>
                    
                </div><!-- end footer -->
               
			</div><!-- End iPhone Mockup -->
            
            
            <!-- preview images -->
            <div id="previews" class="float">
                            
                <br class="clear" />
                
                <p id="show">Subscribe to our newsletter.</p>
            
            </div>
            
            
            <!-- logo area -->
            <div id="logo" class="float">
            
            	<a href="#"><img src="static/img/logo.png" alt="logo" /></a>
                
                <p>Applet is a professional and interactive App Site template that is easy to edit and comes in a well laid out package saving you time and money when launching an App / Product Site.</p>
                
            	<a href="#"><img src="static/img/download.png" alt="download" /></a>
            
            </div><!-- end logo area -->
            
            <br class="clear" />
            
            
            <!-- start subscribe area -->
            <div id="subscribe">
            
            	<a id="cancel" href="#"><img src="static/img/cancel.png" alt="close" /></a>
            
            	<p>Subscribe for the latest updates on our App!</p>
               	<small>No Spam, We Promise.</small>
                
                <div id="form-subscribe">
                        
                    <form method="post" action="">
                        <input id="email" type="text" onfocus="if (this.value == 'enter your email to subscribe!') {this.value = '';}" onblur="if (this.value == '') {this.value = 'enter your email to subscribe!';}" value="enter your email to subscribe!" />
                        <input type="submit" value="submit" id="email-submit" />
                    </form>
                                     
                </div>
                
            </div><!-- end subscribe area -->
        
        </div><!-- end container -->
        
    </div><!-- end header -->
    
    
    <!-- start main content -->
    <div id="content">
    
    
    	<!-- start content container -->
    	<div class="container">
        
        
        	<!-- main-content wrapper -->
        	<div id="main-content">
            

				<!-- content tabs -->
				<div id="tabs">
                    <ul>
                        <li id="featurelist" class="current">Features</li>
                        <li id="reviews">Reviews</li>
                        <li id="video">Demo Video</li>
                    </ul>
                </div><!-- end content tabs -->
                
                
                <!-- start features panel -->
                <div id="featurelist-panel">
                
                	<ul class="features">
                        <li>
                        	<img src="static/img/feature-small.png" alt="feautre" />
                            <h3>Awesome iPhone Mock-up Slider</h3>
                            <p>Applet includes a slick, custom build slide show solution that gives your visitors a fun way to interact with the site and preview your App.</p>
                        </li>
                        <li>
                        	<img src="static/img/feature-small.png" alt="feautre" />
                            <h3>Real Home Button</h3>
                            <p>Go ahead and click the home button, it works! You can have it do anything you want like say for instance bring the visitor to your iTunes (or other) App Store page.</p>
                        </li>
                        <li>
                        	<img src="static/img/feature-small.png" alt="feautre" />
                            <h3>Awesome Tabs</h3>
                            <p>The custom tabbed content looks great and has some cool jQuery effects to wow your users.</p>
                        </li>
                    </ul><br class="clear" />
                    
                    <ul class="features">
                        <li>
                            <img src="static/img/feature-small.png" alt="feautre" />
                            <h3>Social Icons Inside</h3>
                            <p>Applet comes with 31 ready to use social icons and CSS classes. Just add the class and link up with all of your Apps social media pages quickly and easily.</p>
                        </li>
                        <li>
                            <img src="static/img/feature-small.png" alt="feautre" />
                            <h3>Easy to Edit Layout</h3>
                            <p>Applet is cleanly laid out and commented allowing you to quickly and easily edit the template to fit your needs regardless of your skill level. It also includes full documentation on how to use the more advanced features.</p>
                        </li>
                        <li>
                            <img src="static/img/feature-small.png" alt="feautre" />
                            <h3>Grid Ready</h3>
                            <p>Applet also includes a full grid system so you can layout your content in a variety of ways.</p>
                        </li>
                    </ul><br class="clear" />
                    
                    <ul class="features">
                        <li>
                            <img src="static/img/feature-small.png" alt="feautre" />
                            <h3>Cool Feature Title</h3>
                            <p>Give your visitors some nifty information about your App and why they should buy it.</p>
                        </li>
                        <li>
                            <img src="static/img/feature-small.png" alt="feautre" />
                            <h3>Cool Feature Title</h3>
                            <p>Give your visitors some nifty information about your App and why they should buy it.</p>
                        </li>
                        <li>
                            <img src="static/img/feature-small.png" alt="feautre" />
                            <h3>Cool Feature Title</h3>
                            <p>Give your visitors some nifty information about your App and why they should buy it.</p>
                        </li>
                    </ul><br class="clear" />
                    
                </div><!-- end feature pannel -->
                
                
                <!-- start reviews panel -->
                <div id="reviews-panel" class="hidden">
                
                	<div class="review">
                    	<p>"Applet is one of the most polished App Site templates I have come across! It looks AND functions great, what more could you ask for?"</p>
                        <span>~ Michelle Cooper</span>
                    </div>

                	<div class="review">
                    	<p>"Applet comes with full documentation and easy to edit code, I didn't even need to hire a web designer to get a site going for my new App."</p>
                        <span>~ Steven Jobs</span>
                    </div>

                	<div class="review">
                    	<p>"Ever since I switched my App Site to the Applet template, my sales have steadily grown every month! Having a professional website really makes a difference."</p>
                        <span>~ Katie Anderson</span>
                    </div>

                	<div class="review">
                    	<p>"If you do a lot of development work for Apps, you're crazy if you do not have Applet in your toolkit!"</p>
                        <span>~ AppStorm</span>
                    </div>
                    
                </div><!-- end review panel -->
                
                
                <!-- start video panel -->
                <div id="video-panel" class="hidden">
                                    
                    <h1>Pretty Slick Tab Effects Eh?</h1>
                    <small>Applet is also Grid Ready</small><br />
                    
                    <div class="video"><iframe src="http://player.vimeo.com/video/8299349?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="640" height="360" frameborder="0"></iframe></div>
                    
                    <div class="grid onehalf">How many Apps could an Applet App if an Applet could App Apps. How many Apps could an Applet App if an Applet could App Apps. How many Apps could an Applet App if an Applet could App Apps. How many Apps could an Applet App if an Applet could App Apps.</div>
                    <div class="grid onehalf noMargin">How many Apps could an Applet App if an Applet could App Apps. How many Apps could an Applet App if an Applet could App Apps. How many Apps could an Applet App if an Applet could App Apps. How many Apps could an Applet App if an Applet could App Apps.</div>
                    
                    <div class="grid onethird">How many Apps could an Applet App if an Applet could App Apps. How many Apps could an Applet App if an Applet could App Apps. How many Apps could an Applet App if an Applet could App Apps.</div>
                    <div class="grid onethird">How many Apps could an Applet App if an Applet could App Apps. How many Apps could an Applet App if an Applet could App Apps. How many Apps could an Applet App if an Applet could App Apps.</div>
                    <div class="grid onethird noMargin">How many Apps could an Applet App if an Applet could App Apps. How many Apps could an Applet App if an Applet could App Apps. How many Apps could an Applet App if an Applet could App Apps.</div>
                    
                    <div class="grid onefourth">How many Apps could an Applet App if an Applet could App Apps. How many Apps could an Applet App if an Applet could App Apps.</div>
                    <div class="grid onefourth">How many Apps could an Applet App if an Applet could App Apps. How many Apps could an Applet App if an Applet could App Apps.</div>
                    <div class="grid onefourth">How many Apps could an Applet App if an Applet could App Apps. How many Apps could an Applet App if an Applet could App Apps.</div>
                    <div class="grid onefourth noMargin">How many Apps could an Applet App if an Applet could App Apps. How many Apps could an Applet App if an Applet could App Apps.</div>              
                    
					<br class="clear" />                    
                
                </div><!-- end Video Panel -->

            </div><!-- end main content -->
            
        </div><!-- end container wrapper -->
        
    </div><!-- end content -->
    
</body>
</html>
