<!DOCTYPE html>
<!-- layout template -->

<html>
    <head>
        <title>Tipsy Task List</title>
        <!--<link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css">-->
    </head>

    <body>
        <div class="container">

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=flashes>
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

            {% block body %}
            {% endblock %}

        </div>
    </body>
</html>