{% extends "loggedin_layout.html" %}
{% block body %}

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              {% for owner in owners %}
                <li class="nav-header"> {{ owner.first_name }} {{ owner.last_name }}</li>
                {% for value in dogs[owner.id] %}
                <li class="active"><a href="{{ url_for ('dog_info', owner_id=owner.id, dog_id=value.id) }}"> {{value.dog_name}} </a></li>
                {% endfor %}
              {% endfor %}
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <br>
        <h1 class="span4 offset2">Latest Log</h1>
        <div class="span6"> 
        <div class="well well-large"> 
            <div id="map_canvas"></div>
       </div>
     </div>
      <div class="span3"> 
      <div class="well well-large"> 

        <ul class="media-list">
        <li class="media">
        <a class="pull-left" href="#">
      <img class="media-object" src="http://placehold.it/64x64">
      </a>
      <div class="media-body">
      <h4 class="media-heading">{{dogs[owners[0].id][0].dog_name}}</h4>
      </div>
      </li>
      </ul> 
      
      <table class="table table-striped">
        <tbody>
                <tr>
                  <td>Distance:</td>
                  <td>{{elapsed_distance}}</td>
                </tr>
                <tr>
                  <td>Start Time:</td>
                  <td>{{start_time}}</td>
                </tr>
                <tr>
                  <td>Total Time:</td>
                  <td>{{elapsed_time}}</td>
                </tr>
                <tr>
                  <td>Dog Mood:</td>
                  <td>{{dog_mood}}</td>
                </tr>
                <tr>
                  <td>Obedience:</td>
                  <td>{{obedience_rating}}</td>
                </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>
  </div>
        <div class="span5 offset3">  
        <ul class="nav nav-pills nav-stacked">
          {% for walk in walks %}

                  <li class="deactive"><a href="{{ url_for ('past_log', walk_id=walk.id) }}"> {{walk.start_time}} </a>

               
                 
               
          {% endfor %}
           </ul>
           </div>
            </div>
          </div><!--/row-->
                </div>
        </div><!--/span-->
      </div><!--/row-->
      <hr>
      <footer>
        <p>&copy; doglog 2012</p>
      </footer>
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.js"></script>
   
{% endblock %}
